.sidebar {
  display: flex;
  flex-direction: row;
  width: 229px;
  height: 56px;
  padding: 19px 0 0;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 0 auto;
  padding: 16px 0;
}
